@use '@/styles/mixins.scss' as *;

@include b('tag') {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 10px;
  font-size: var(--el-ai-font-size-extra-small);
  font-weight: var(--el-ai-font-weight-primary);
  line-height: 1;
  border-radius: var(--el-ai-border-radius-base);
  border: 1px solid transparent;
  white-space: nowrap;

  @include m('primary') {
    color: var(--el-ai-color-primary);
    background-color: var(--el-ai-color-primary-light-9);
    border-color: var(--el-ai-color-primary-light-7);
  }

  @include m('success') {
    color: var(--el-ai-color-success);
    background-color: var(--el-ai-color-success-light-9);
    border-color: var(--el-ai-color-success-light-7);
  }

  @include m('warning') {
    color: var(--el-ai-color-warning);
    background-color: var(--el-ai-color-warning-light-9);
    border-color: var(--el-ai-color-warning-light-7);
  }

  @include m('danger') {
    color: var(--el-ai-color-danger);
    background-color: var(--el-ai-color-danger-light-9);
    border-color: var(--el-ai-color-danger-light-7);
  }
}
