@use '@/styles/mixins.scss' as *;

@include b('icon') {
  --el-ai-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--el-ai-icon-color);
  font-size: inherit;

  @each $val in primary, info, success, warning, danger {
    @include m($val) {
      --el-ai-icon-color: var(--el-ai-color-#{$val});
    }
  }
}
